

.container {
  max-width: 1200px;
  margin: 40px 40px 900px 500px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 8px;
  align-items: flex-end
}


.input-field {
  display: flex;
  flex-direction: column;
  align-items: center
}

.input-field label {
  margin-bottom: 5px;
  font-weight: 700
}

input[type=text],input[type=number] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px
}

button {
  padding: 10px 20px;
  background-color: rgb(66, 255, 113);
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  align-self: center
}

.button-group {
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  align-items: end
  
}

button:hover {
  background-color: #1cf37d
}

.listContent {
 display: flex;
 gap: 170px;
}

.listInput {
  display: flex;
  gap: 190px;
  
}

